@use '../../../../styles/variables.module';
@use '../../../../styles/mixins.module';

.inputContainer {
  position: relative;
  width: 100%;

  &[data-has-selected-options='true'] > div > div > input + label {
    top: -12px;
    left: 12px;
    background: linear-gradient(360deg, white 0% 60%, transparent 60% 100%);
    @include mixins.font('secondary-sm');
    color: variables.$secondary-08;
    cursor: default;
  }

  &[data-has-selected-options='true']:hover .selectionIndicator > img:nth-child(1),
  &[data-has-selected-options='true']:focus-within .selectionIndicator > img:nth-child(1) {
    display: block;
  }

  & > div > div {
    gap: 4px;
  }

  & > ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 200px;
    background-color: variables.$secondary-0;
    border-radius: 0 0 6px 6px;
    overflow-y: auto;
    position: absolute;
    left: 0;
    bottom: -2px;
    transform: translateY(100%);
    z-index: 1000;
    @include mixins.shadow('sm');

    & > li {
      @include mixins.font('secondary-sm');
      color: variables.$secondary-08;
      padding: 12px;
      transition: 0.3s;
      cursor: pointer;

      &:not(:last-child) {
        border-bottom: 1px solid variables.$secondary-02;
      }
    }

    &[data-has-options='true'] > li:hover,
    & > li[data-selected='true'] {
      background-color: variables.$primary-04;
    }

    &[data-has-options='false'] > li {
      cursor: default;
      color: variables.$primary-07;
    }
  }
}

.iconSelection {
  cursor: pointer;
  border-radius: 100%;
  transition: 0.3s;

  &:hover {
    background-color: variables.$primary-05;
  }
}

.selectionIndicator {
  flex: 0 !important;
  display: flex;
  flex-wrap: nowrap !important;
  gap: 0px !important;

  & > img:nth-child(1) {
    display: none;
    transition: 0.3s;
  }
}

.selectedOptions {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 6px;
  border-radius: 6px;
  background-color: variables.$secondary-02;
  @include mixins.font('secondary-xs');
  color: variables.$secondary-08;
  white-space: nowrap;
}
