@use './variables.module.scss';
@use './mixins.module.scss';
@use './functions.module.scss';

.mainContainer {
  padding-top: 96px;
  overflow-x: hidden;

  @include mixins.responsive('sm') {
    padding-top: 0;
  }
}

.mainContainer :global(#introduction) {
  display: flex;
  justify-content: center;
  padding: 72px 20px 140px 20px;
  background: linear-gradient(171.9deg, variables.$secondary-11 66%, transparent 0%);

  & > div {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 40px;
    max-width: variables.$max-container;
    width: 100%;

    h1 {
      position: relative;
      z-index: 1;
      max-width: 700px;
      @include mixins.font('primary-xxl');
      color: variables.$secondary-0;

      &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        top: -6px;
        left: -36px;
        width: 116.27px;
        height: 110.53px;
        background: url('../../public/icons/decorator.svg') no-repeat center;
        background-size: 100%;
      }

      span {
        color: variables.$primary-07;
      }
    }
  }

  @include mixins.responsive('xl') {
    padding-bottom: 80px;

    & > div {
      h1 {
        @include mixins.font('primary-xl');
        max-width: 450px;

        &:after {
          width: 80px;
          height: 70px;
          top: -4px;
          left: -26px;
        }
      }
    }
  }

  @include mixins.responsive('lg') {
    & > div {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  @include mixins.responsive('sm') {
    & > div {
      h1 {
        @include mixins.font('primary-lg');
        max-width: 260px;

        &:after {
          width: 40px;
          height: 30px;
          top: 4px;
          left: -12px;
        }
      }
    }
  }
}

.title {
  @include mixins.font('primary-xl');
  color: variables.$secondary-11;

  @include mixins.responsive('sm') {
    @include mixins.font('primary-lg');
  }
}

.description {
  @include mixins.font('secondary-md');
  color: variables.$secondary-11;
  max-width: 560px;

  span {
    font-weight: 600;
  }
}

.mainContainer :global(#contact) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  margin: 0 auto;
  padding: 120px 20px;
  max-width: variables.$max-container;

  .title,
  & > span {
    grid-column: 1/-1;
  }

  & > span {
    margin-top: 8px;
    margin-bottom: 40px;
    @include mixins.font('secondary-lg-b');
    color: variables.$secondary-08;
  }

  & > a {
    justify-self: start;
    align-self: start;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 80px;
    grid-row: 3;
    grid-column: 2;
    justify-self: end;

    li {
      display: flex;
      align-items: center;
      gap: 12px;
      white-space: nowrap;

      a,
      span {
        @include mixins.font('secondary-md');
        color: variables.$secondary-09;
      }

      span {
        filter: blur(3px);
        cursor: default;
        user-select: none;
      }
    }
  }

  @include mixins.responsive('lg') {
    grid-template-columns: 1fr;

    ul {
      grid-column: 1;
      grid-row: 4;
      justify-self: start;
      margin-top: 32px;
      margin-bottom: 24px;
    }
  }

  @include mixins.responsive('sm') {
    padding: 80px 20px;

    ul {
      grid-template-columns: 1fr;

      img {
        width: 20px;
        height: 20px;
      }

      li {
        a,
        span {
          @include mixins.font('secondary-sm');
        }
      }
    }

    & > span {
      @include mixins.font('secondary-md');
      font-weight: 600;
    }
  }
}

.mainContainer :global(section#tecnologies) {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 120px 20px;
  background: variables.$secondary-11;

  .title {
    color: variables.$secondary-0;
    margin-bottom: 80px;
  }

  div {
    width: 100%;
    max-width: variables.$max-container;

    ul {
      display: flex;
      width: 100%;
      max-width: 680px;
      margin: auto;
      justify-content: space-between;
    }
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 120px;
    height: 120px;
    background: url('../../public/icons/decorator.svg') no-repeat center;
    background-size: 100%;
  }

  &:before {
    top: -60px;
    right: 20px;
  }

  &:after {
    bottom: -60px;
    left: 20px;
  }

  $more: false;

  @for $i from 1 through 20 {
    .tecnologie-#{$i} {
      display: block;
      position: absolute;
      @include mixins.font('secondary-md');
      color: variables.$secondary-08;
      transition: 0.3s;
      cursor: default;

      &:hover {
        font-size: functions.rem(32);
        color: variables.$primary-07;
      }

      @if ($i%2 == 0) {
        left: 5% * $i;

        @if ($more == true) {
          top: 60px;
        } @else {
          top: 200px;
        }
      } @else {
        left: 5% * $i;

        @if ($more == true) {
          bottom: 60px;
          $more: false;
        } @else {
          $more: true;
          bottom: 200px;
        }
      }

      @include mixins.responsive('sm') {
        display: none;
      }
    }

    @include mixins.responsive('sm') {
      &:before,
      &:after {
        width: 60px;
        height: 60px;
      }

      &:before {
        top: -30px;
      }

      &:after {
        bottom: -30px;
      }

      img {
        width: 80px;
        height: 80px;
      }
    }
  }
}

.mainContainer :global(#formation) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px 40px;
  max-width: variables.$max-container;
  margin: 0 auto;
  padding: 120px 20px;

  .title {
    grid-column: 1/-1;
    margin-bottom: 40px;
  }

  p + div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  & > p + div + div {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 32px;
    grid-column: 1/-1;
    margin-bottom: 20px;

    h3 {
      @include mixins.font('primary-md');
      color: variables.$secondary-11;
    }
  }

  @include mixins.responsive('lg') {
    & > p,
    & > p + div {
      grid-column: 1/-1;
      justify-content: flex-start;
    }

    & > p {
      margin-bottom: 32px;
    }
  }

  @include mixins.responsive('sm') {
    grid-template-columns: 1fr;

    & > p + div {
      flex-direction: column;
    }
  }
}

.mainContainer :global(#experiencies) {
  display: flex;
  justify-content: center;
  background: linear-gradient(
    5deg,
    variables.$secondary-01 24.7%,
    variables.$secondary-11 0%,
    variables.$secondary-11 75.3%,
    variables.$secondary-01 0%
  );
  padding: 120px 20px 180px 20px;

  .title {
    margin: 0 auto 40px auto;
    color: variables.$secondary-0;
    max-width: variables.$max-container;
  }

  & > div {
    width: 100%;
  }

  @include mixins.responsive('lg') {
    background: linear-gradient(
      5deg,
      variables.$secondary-01 9.4%,
      variables.$secondary-11 0%,
      variables.$secondary-11 90.6%,
      variables.$secondary-01 0%
    );

    & > div {
      & > div {
        flex-direction: column;
      }
    }
  }
}

.mainContainer :global(#projects) {
  padding: 120px 20px;
  max-width: variables.$max-container;
  margin: 0 auto;

  .title {
    margin-bottom: 40px;
  }

  & > div:nth-child(2) {
    display: grid;
    grid-template-columns: minmax(200px, 360px) minmax(200px, 480px);
    gap: 20px;
    margin: 40px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid variables.$secondary-02;

    & > div:nth-child(1) {
      max-height: 44px;
    }
  }

  & > div:nth-child(3) {
    display: grid;
    grid-template-columns: repeat(3, minmax(260px, 1fr));
    gap: 40px;
  }

  @include mixins.responsive('lg') {
    & > div:nth-child(3) {
      grid-template-columns: repeat(2, minmax(260px, 1fr));
    }
  }

  @include mixins.responsive('md') {
    & > div:nth-child(3) {
      gap: 20px;
    }
  }

  @include mixins.responsive('sm') {
    & > div:nth-child(2) {
      grid-template-columns: 1fr;
    }

    & > div:nth-child(3) {
      grid-template-columns: minmax(260px, 1fr);
    }
  }
}
