@use '../../../styles/variables.module';
@use '../../../styles/mixins.module';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 96px;
  padding: 20px;
  background: variables.$secondary-12;

  div {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
    justify-items: center;
    align-items: center;
    width: 100%;
    max-width: variables.$max-container;

    & > a {
      max-width: fit-content;
      padding: 4px;
    }

    p {
      @include mixins.font('secondary-md');
      color: variables.$secondary-0;
      text-align: center;
    }
  }

  @include mixins.responsive('sm') {
    div {
      grid-template-columns: 1fr;

      p {
        @include mixins.font('secondary-sm');
      }
    }
  }
}
