@use '../../../../styles/variables.module';
@use '../../../../styles/mixins.module';

.inputContainer {
  position: relative;

  & > label {
    @include mixins.font('secondary-md');
    color: variables.$secondary-07;
    position: absolute;
    left: 12px;
    top: 8px;
    transition: 0.2s;
  }

  & > input {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    border-radius: 6px;
    border: 1px solid variables.$primary-05;
    background: variables.$secondary-0;
    @include mixins.font('secondary-md');
    color: variables.$secondary-07;
    outline: none;
    transition: 0.3s;
  }

  & > input[data-left-icon='true'] {
    padding-left: 44px;
  }

  & > input[data-right-icon='true'] {
    padding-right: 44px;
  }

  & > input[data-left-icon='true'] + label {
    left: 44px;
  }

  & > input::placeholder {
    @include mixins.font('secondary-md');
    color: variables.$secondary-06;
  }

  & > input:hover,
  & > input:focus {
    box-shadow: 0 0 0 3px variables.$primary-04;
  }

  & > input:focus + label,
  & > input:not(:placeholder-shown) + label {
    top: -10px;
    left: 12px;
    background: linear-gradient(360deg, white 0% 60%, transparent 60% 100%);
    @include mixins.font('secondary-sm');
    color: variables.$secondary-08;
  }

  & > .leftIcon {
    position: absolute;
    max-width: max-content;
    top: 5px;
    left: 12px;
  }

  & > .rightIcon {
    position: absolute;
    max-width: max-content;
    top: 5px;
    right: 12px;
  }
}
