// primary colors
$primary-04: #e4d9ee;
$primary-05: #caafe3;
$primary-06: #b180df;
$primary-07: #9b51e0;
$primary-08: #8824e6;
$primary-09: #720ecf;
$primary-10: #54079d;
$primary-11: #38006c;
$primary-12: #1e0052;

// primary colors
$secondary-0: #ffffff;
$secondary-01: #f7f7f7;
$secondary-02: #ededed;
$secondary-03: #dedede;
$secondary-04: #cccccc;
$secondary-05: #b3b3b3;
$secondary-06: #9c9c9c;
$secondary-07: #707070;
$secondary-08: #595959;
$secondary-09: #404040;
$secondary-10: #2e2e2e;
$secondary-11: #121212;
$secondary-12: #000000;
