@use './variables.module.scss';
@use './mixins.module.scss';

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  background: variables.$secondary-01;
}

*::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background: rgba(var(--bg-base-50));
}

*::-webkit-scrollbar-thumb {
  border-left: 3.2px solid variables.$secondary-01;
  border-right: 3.2px solid variables.$secondary-01;
  background: variables.$primary-07;
  border-radius: 6.4px;
}
