@use '../../../../styles/mixins.module.scss';
@use '../../../../styles/variables.module.scss';

@mixin mdStyles() {
  & > div + div > a {
    @include mixins.font('secondary-xs');
    padding: 8px 16px;
  }

  & > p {
    @include mixins.font('secondary-sm');
  }
}

.projectCard {
  display: flex;
  flex-direction: column;
  height: 432px;
  width: 100%;
  max-width: 360px;
  background: variables.$secondary-0;
  border-radius: 6px;
  @include mixins.shadow('sm');

  .imageContainer {
    position: relative;
    width: 100%;
    height: 180px;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    @include mixins.shadow('sm');

    div {
      background: rgba($color: variables.$secondary-12, $alpha: 0.4);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    img {
      max-width: 100%;
      height: 100%;
    }

    h4 {
      @include mixins.font('primary-lg');
      color: variables.$secondary-0;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 1;

      &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        top: -1px;
        left: -14px;
        width: 40px;
        height: 40px;
        background: url('../../../../public/icons/decorator.svg') no-repeat center;
        background-size: 100%;
      }
    }
  }

  & > p {
    margin: 20px 0;
    @include mixins.font('secondary-md');
    color: variables.$secondary-08;
    padding: 0 20px;
  }

  p + div {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 8px;
    margin-top: auto;
    padding: 0 20px;
  }

  & > div + div {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 20px;
    margin: 20px 0;
  }

  @media (max-width: 1165px) and (min-width: 920px) {
    @include mdStyles();
  }

  @media (max-width: 785px) and (min-width: 640px) {
    @include mdStyles();
  }

  @media (max-width: 400px) {
    @include mdStyles();

    .imageContainer > h4 {
      @include mixins.font('primary-md');

      &:before {
        width: 24px;
        height: 24px;
        top: -1px;
        left: -9px;
      }
    }
  }
}
